.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input{
  padding: 6px
}

.options{
  width: 20%;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.option{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.option-label{
  text-align: left;
  left: 0;
  margin-bottom: 10px
}

.content{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  margin-top: 16px
}

.news{
  width: 80%;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
