p, a{
    margin-bottom: 6px;
    margin-top: 0px;
    text-align: left;
    font-size: 16px
}

.container{
    width: 90%;
    padding: 4%;
    margin-bottom: 12px;
    position: relative;
}

#trending{
    border: 2px solid #edae49
}

#filtered{
    border: 2px solid #87cefa
}

.title{
    color: #272589;
    font-size: 16;
}

.author{
    color: #959595;
    font-size: 12;
}

.date{
    color: #c0bfbf;
    font-size: 10;
}

.read-more {
    text-align: left;
}

.cover-image-container{
    position:relative;
    top:0;
    right:0;
    float: right;
    margin-left:10px;
    margin-bottom: 5px;
    max-height: 100%;
    height: auto;
    width: 60%;
    display: flex;
    background-color: blue;
}

.cover-image{
    width: 100%;
    height: auto;
    flex:1
}
