p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 90%;
    padding: 4%;
    border: 2px solid #272589;
    margin-bottom: 12px;
    position: relative;
}

.title{
    color: #272589;
    font-size: 16;
}

.text{
    
}

.author{
    color: #959595;
    font-size: 12;
}

.read-more {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.cover-image-container{
    width: 50%;
    height: auto;
    float: right;
    margin: 48px 0px 12px 12px;
}

.cover-image{
    height: auto;
    width: 100%;
}
