p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin: 6px
}

.container{
    width: 90%;
    padding: 4%;
    border: 2px solid #272589;
    margin-bottom: 12px;
    position: relative;
}

.title{
    color: #272589;
    font-size: 16;
}

.text{
    
}

.author{
    color: #959595;
    font-size: 12;
}

.read-more {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.cover-image-container{
    width: 60%;
    max-width: 200px;
    height: auto;
    float: top;
    float: right;
    margin:10px;
}

.cover-image{
    height: auto;
    width: 100%;
    top: 0;
}
