.header{
    display:flex;
    justify-content: left;
    width: 100%;
    padding-left: 10%;
    background-color: #1c1c1c;
}

.tab-title{
    font-size: 12;
    padding-top: 6px;
    padding-bottom: 6px;
}

.selected{
    background-color: #87cefa;
    color: black;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.unselected{
    color: #87cefa;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}