p {
    font-size: 24px;
}

.header{
    display:flex;
    justify-content: left;
    width: 100%;
    padding-left: 10%;
    background-color: #1c1c1c;
}

.selected{
    background-color: lightskyblue;
    color: black;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.unselected{
    color: lightskyblue;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}